<% include partials/header %>

<div class="container">
    <div class="jumbotron text-center">
        <h1>Business Card Builder</h1>
        <a href="/users/signup" class="btn btn-primary">Sign Up Today!</a>
    </div>
</div>

<% include partials/footer %>