<% include partials/header %>
<div class="container">
    <h1>Sign up</h1>
<form class="form-group" action="/users/signup" method="POST">
    <input class="form-control" type="text" name="fName" id="" placeholder="First Name">
    <input class="form-control" type="text" name="lName" id="" placeholder="Last Name">
    <input class="form-control" type="email" name="email" id="" placeholder="Email">
    <input class="form-control" type="password" name="password" id="" placeholder="Password">
    <!-- <input class="form-control" type="password" name="" id="" placeholder="Confirm Password"> -->
    <button class="btn btn-primary">Submit</button>
</form>
</div>

<% include partials/footer %>